.hd-fixed img{
    background-attachment: fixed;
    width: 90%;
    margin-left: 5%;
    position: relative;
}
.img_txt-2{
    position: absolute;
    top: 58%;
    left: 40%;
    color: white;
}

header > h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold; 
    
}

main{
    margin-top: 60px;
}

main h2 {
text-align: center;
}

.container-landing {
    display: flex;
    justify-content: column;
    align-items: space-between;
    width: 100%;
    text-align: center;
}

.item-1 img{
    width: 80%;
    /* align-items: space-between; */

}
.item-1 p{
    width: 80%;
    /* align-items: space-between; */

}


.read-more {
    border: 2px solid #000;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    text-align: center;

}

article {
    margin-top: 50px;
    background: #BCE4E5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
