/* Custom Stylesheet */
* {
    
    color: #494F4F;
}

body {
    margin-top: 0;
}

header {
    /* width: 100%; */
 
}

header > nav {
    width: 100%;
    position: fixed;
    z-index: 1;
    background: #fff;
    display: inline-block;
}

.top_img {
    position: relative;
    /* clear: both; */
    
    
} 

header > h1 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 12px;
    font-weight: bold;
    
    
}
.img_txt {
    position: absolute;
    top: 50%;
    left: 40%;
    color: white;
}

header > nav > ul > li {
    list-style: none;
    display: inline;
    padding-left: 16%;
    font-weight: bold;
}

header > nav > ul > li > a {
    font-family: 'Raleway', sans-serif;
    color: #4E9A9C;
    font-weight: bold;
    text-align: center;
}

header > img {
    width: 100%;
    margin-top: 65px;
    clear: both;
}

a{
    text-decoration: none;
}

main {
    width: 80%;
    margin: 5px auto;
}

.main_one {
    display: flex;
    justify-content: row;
    font-family: 'Raleway', sans-serif;
}

.main_one_b {
    margin-right: 5px;
}

main > img {
    width: 100%;
}

main h2,h3 {
    font-family: 'Raleway', sans-serif;
}

main > p{
    width: 100%;
    font-family: 'Lato', sans-serif;
}

article {
    width: 80%;
    margin: 5px auto; 
    padding-top: 30px;

}

article > img{
    width: 80%;
    

}

aside {
    width: 80%;
    margin: 5px auto;
    padding-top: 30px;

}

aside > ul > li > a {
    color: #4E9A9C;
    font-size: 18px;
    font-weight: bold;

}

footer {
    
    background: #BCE4E5;
    margin: 0 auto;
    text-align: center;
}

footer > ul > li {
    padding-top: 15px;
    list-style: none;
    display: inline;
    padding-left: 35px;
    font-weight: bold;
}

footer > ul {
    padding-top: 45px;
}

footer > p {
    padding-bottom: 20px;
   
}

footer > a {
    font-weight: bold;
}

footer > hr {
    margin-top: 60px;
    border-width: 2px;
    color: #494F4F;
    border-style: inset;
    /* display: block; */
}

form > input {
    width: 250px;
    height: 32px;
    text-align: center;
    border: none;
    font-weight: bold;

}

form > button {
    width: 140px;
    height: 32px;
    text-align: center;
    border: 2px solid #000;
    background: #BCE4E5;
    font-weight: bold;
    margin-left: 40px;
}

form > button:hover {

    background: #000;
    color: #fff;

}